body{
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    background-color: rgb(97, 97, 97);
    color: white;
    width: 150px;
    height: 70px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 20px;
}

button:hover{
    background-color: rgb(211, 211, 211);
    color: black;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 20px;
    cursor: pointer;
}

input[type="text"], input[type="password"]{
    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2em;
    border: 4px solid gray;
    border-radius: 8px;
    background-color: azure;
    box-shadow: 0 4px 10px black;
}

input[type="submit"], input[type="reset"]{
    background-color: rgb(95, 95, 255);
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 10px black;
}

#menu{
  display: flex;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  margin-top: 50px;
}

#menu:hover {
  color: rgb(46, 46, 46);            
  text-decoration: underline;
}