body{
    font-family: arial ,sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: red;
}
form{
    background-color: blancedalmond;
    max-width: 400px;
    margin: 0 auto;
    padding: 20;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
label{
     display:block;
     margin-bottom: 5px;
     font-weight: bold;
}
input[type="text"], input[type="password"], input[type="password"], input[type="email"], textarea{
    width: 90%
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #0000FF (19, 74, 190);
    border-radius: 30px

}
input[type="submit"]{
    background-color: white;
    color: blue;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: green;
}