body {
    background-color: #19a1d6;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
form {
    max-width: 400px;

    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
}
input[type="submit"]{
    background-color: rgb(177, 41, 17);
    color: black;
    border: none;
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(88, 181, 197);
}