body{
    background-color: rgb(235, 238, 37);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: rgb(243, 35, 35);
}

form{
    background-color: rgb(71, 71, 71);
    max-width: 400px;

    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

label{
    color: rgb(0, 199, 0);
}

label[for="username"], label[for="pasword"]{
    color: aqua;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea{
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 5px solid rgb(19, 74, 190);
}

input[type="submit"]{
    background-color: rgb(61, 101, 138);
    color: black;
    border: none;
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(110, 197, 88);
}

input[type="checkbox"]:not(:checked) {
  accent-color: red;
}