p {
    color: black;
    font-size: 16px;
    font-family: "Verdana", "Geneva", sans-serif;
}
h1 {
    color: black;
    font-size: 48px;
    font-family: "Verdana", "Geneva", sans-serif;
}
a {
    color: black;
    font-size: 16px;
    font-family: "Verdana", "Geneva", sans-serif;
}
/* Style général pour les champs */
input[type="text"] 
{
  width: 15%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Verdana", "Geneva", sans-serif;
}
input[type="date"] 
{
  width: 10%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Verdana", "Geneva", sans-serif;
}
textarea {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Verdana", "Geneva", sans-serif;
}
select {
  width: 8%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Verdana", "Geneva", sans-serif;
}

